{% extends 'cv/base.html' %}

{% block content %}
	
	<div class='introduction'>
		<h2>Overview</h2>
		{% for entry in introductionEntries %}
			<div class="entry">
				<p>{{ entry.text|linebreaksbr }}</p>
			</div>
		{% endfor %}
	</div>

	<div class='technicalSkills'>
		<h2>Technical Skills</h2>
		{% for entry in technicalSkillsEntries %}
			<div class="entry">
				<p>{{ entry.text|linebreaksbr }}</p>
			</div>
		{% endfor %}
	</div>

	<div class='education'>
		<h2>Education</h2>
		{% for entry in educationEntries %}
			<div class="entry">
				<h3>{{ entry.title }}</h3>
				<div class="entry_info">
					<p2>{{ entry.start_date }} - {{ entry.end_date }}</p2>
					<p2>{{ entry.location }}</p2>
				</div>
				<p>{{ entry.text|linebreaksbr }}</p>
			</div>
		{% endfor %}
	</div>

	<div class='workExperience'>
		<h2>Work Experience</h2>
		{% for entry in workExperienceEntries %}
			<div class="entry">
				<h3>{{ entry.title }}</h3>
				<div class="entry_info">
					<p2>{{ entry.start_date }} - {{ entry.end_date }}</p2>
					<p2>{{ entry.location }}</p2>
				</div>
				<p>{{ entry.text|linebreaksbr }}</p>
			</div>
		{% endfor %}
	</div>
	
	<div class='projects'>
		<h2>Projects</h2>
		{% for entry in projectsEntries %}
			<div class="entry">
				<h2>{{ entry.title }}</h2>
				<p>{{ entry.text|linebreaksbr }}</p>
			</div>
		{% endfor %}
	</div>


{% endblock %}



	
