html
{
	height: 100%;
}


body
{
	height: 100%;
	background-color: #899dc9;
}

.page-header 
{		
	z-index: 1;
	position: relative;
	margin-top: 0;
	width: 100%;
	background-color: #1a4299;
	padding: 20px 0px 40px 0px;
	border-bottom: none;
	text-align: center;
	
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active 
{
	
	color: #ffffff;
	font-size: 40pt;
}


.page-footer
{
	z-index: 0.2;
	position: relative;
	height: 50px;
	width: 100%;
	background-color: #1a3b82;
	margin-top: -10;
	padding: 20px 20px 30px 190px;
}

.page-footer p
{
	float: right;
	color: #ffffff;
	font-size: 10pt;
}


.page-title
{
	text-align: center;
	margin-bottom: 50px;
}


.page-content
{
	margin-left: auto;
    	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 60px;
	min-height: 100%;
	width: 60%;
	padding: 10px 10px 10px 10px;
	border-radius: 25px;
	background-color: #FFFFFF;
	
}

.content 
{
	
}

h1, h2, h3, h4 
{
	font-family: 'Lobster', cursive;
}

.date 
{
	color: #828282;
}

.save 
{
	float: right;
}

.post-form textarea, .post-form input 
{
	width: 100%;
}

.top-menu-login-text, .top-menu-login-text:hover, .top-menu-login-text:visited 
{
	color: #ffffff;
	float: right;
	font-size: 26pt;
	margin-right: 20px;
	margin-top: -25px;
}

.top-menu, .top-menu:hover, .top-menu:visited 
{
	color: #ffffff;
	float: right;
	font-size: 26pt;
	margin-right: 20px;
	margin-top: -20px;
}

.post 
{
	margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited 
{
	color: #000000;
}




.sidenav 
{
	z-index: 0.8;
	margin-top: 0;
	height: 100%;  
	width: 130px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1a4299;
	opacity: 0.8;
	overflow-x: hidden; 
	padding-top: 180px;
}


.sidenav h1 a 
{
	padding: 6px 8px 6px 16px;
	font-size: 30px;
	color: #ffffff;
	display: block;
}



